/* FORMATAÇÕES GERAIS */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #14031f, #3b2237) !important;
}


/* navbar */
.navbar {
    padding: 20px 20px;
}

.nav-brand {
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

/* animação da nav-brand */
.hello-animation {
    font-family: "Space Mono", monospace;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 3s steps(16, end) 1s forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 16ch; /* ajusta conforme o número de caracteres da frase */
    }
}

/* nevagação */
.navbar .nav-link {
    color: white !important;
    transition: color 0.5s ease; 
}

.navbar .nav-link:hover {
    color: rgb(233, 232, 158) !important;
}

.navbar-toggler {
    background-color: rgb(52, 23, 56) !important; /* Define a cor de fundo */
    width: 50px; 
    height: 40px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none; /* Remove o contorno azul ao clicar */
}

.navbar-toggler-icon {
    filter: invert(1); /* Inverte as cores para branco */
    width: 25px; /* Largura do ícone */
}

/* titulos e subtitulos */
.section-heading {
    color: #fff;
    text-align: start;
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.title-underline {
    border-bottom: 1px solid rgb(235, 233, 137);
}

.highlight {
    color: rgb(235, 233, 137);
    font-family: "Space Mono", monospace;
    font-weight: 200;
    font-size: 0.9em;
}

/* PÁGINA ABOUT */

/* animação */
.star-icon {
    filter: drop-shadow(0 0 5px rgba(255, 217, 0, 0.315));
    transition: filter 0.3s ease-in-out;
}

.star-icon:hover {
    filter: drop-shadow(0 0 15px rgba(255, 215, 0, 1));
}



/* conteudo */
.content {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    padding: 5rem 0; /* adiciona espaço acima e abaixo para evitar ficar muito baixo */
}

.container {
    max-width: 90%; /* reduz a largura máxima para melhor centralização */
}

#about {
    margin-top: 6%;
}

/* texto */
.about-text {
    color: #fff;
    font-size: 1.1em;
    text-align: left;
    font-family: "Nunito", sans-serif;
    width: 90%;
}

/* botões */
.btn {
    line-height: 20px;
    border: 1px solid rgb(235, 233, 137);
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: transparent;

    padding: 8px 10px;
    font-size: 1em;
    border-radius: 12px;
    
    text-align: center;
    width: 140px;
    display: flex;
    margin: 36px auto 0 auto;
    justify-content: center;
    align-items: center;
    gap: 8px; 

}

.btn:hover {
    background-color: rgba(233, 231, 121, 0.801);
    color: white;
    cursor: pointer;
}

.text-btn {
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
}

.download-icon {
    width: 20px;
    height: 20px;
    
}

.name {
    font-size: 1.7em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}

.dev-title {
    font-size: 1.3em;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: rgb(235, 233, 137);
}

.profile-img {
    width: 220px;
    height: 220px;
    object-fit: cover; /* para manter a proporção da imagem */
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.082);
}

.profile-img {
    filter: drop-shadow(0 0 50px rgba(255, 217, 0, 0.226));
    transition: filter 0.3s ease-in-out;
}

.profile-img:hover {
    filter: drop-shadow(0 0 60px rgba(255, 217, 0, 0.438));
}

.list-contacts-about {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 46px; /* espaçamento entre os cards */
    margin-bottom: 40px;
}

.contact-about {
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.151);

    padding: 10px;
    margin-bottom: 40px;     

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */

    transition: transform 0.3s ease;
}

.list-contacts-about li a {
    text-decoration: none;
    color: white;
    cursor: pointer;

    transition: filter 0.3s ease-in-out;
}

.list-contacts-about li a:hover {
    filter: drop-shadow(0 0 20px rgba(255, 217, 0, 0.555));
}

.contact-icon-about {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.contact-text-about {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    margin: auto;
    width: 50%; 
    
}

/* SECTION SKILLS */
#skills {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    padding: 5rem 0; /* adiciona espaço acima e abaixo para evitar ficar muito baixo */
}


#skills .section-heading {
    margin-top: 18%;
}

.skills-subtitle {
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.group-cards-skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.icon-skill {
    transition: transform 0.3s ease;
    width: 40px; /* largura do ícone */
    height: 40px; /* altura do ícone */
  }
  
.icon-skill:hover {
    transform: rotate(5deg);
}

.card-skill {
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    border: none;
    transition: transform 0.3s ease;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.card-skill:hover {
    transform: scale(1.05);
}

.group-cards-skills-name {
    width: 80%;
    margin: auto;
}

.card-skill-name {
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.151);

    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 220px;
    transition: transform 0.3s ease;
}

.card-skill-name:hover {
    transform: scale(1.05);
}

.skill-name {
    color: #fff;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    
    padding: 5px 0;
    text-align: center;
    margin: auto;
    
}

/* PROJETOS */
#projects {
    margin-top: 6%;
}

#projects .section-heading {
    margin-top: 10%;

}

.group-cards-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    gap: 50px; /* espaçamento entre os cards */
}


.project-link {
    text-decoration: none;
    color: white;

    transition: transform 0.3s ease;
}

.project-link:hover {
    text-decoration: none;
    transform: scale(1.05);
    
}

.project-card {
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.151);

    margin: auto;

    width: 300px; 
    
    height: 420px; 

    overflow: hidden; /* mantém o conteúdo dentro do card */
}

.project-img {
    width: 100%; /* ocupa toda a largura do card */
    height: 180px; 
    object-fit: fill;;
}

.title-project {
    color: #fff;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    
    padding: 6px 0;
    margin-top: 10px;
    text-align: center;
   
}

.project-description {
    color: #fff;
    font-size: 0.9em;
    font-family: "Nunito", sans-serif;

    padding: 0 1px;
    margin: 0 8px; 

    font-weight: 400;
    text-align: center;
    
}

.project-skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 10px 0;
}

.project-skill {
    color: #fff;
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.151);

    padding: 6px 12px;
    margin: 4px;

    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* CONTATO */
#contact {
    margin-top: 6%;
}

.list-contacts {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* espaçamento entre os cards */
    margin-bottom: 24px;
}

.contact {
    background: rgba(73, 73, 73, 0.178);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.151);

    padding: 15px;
     

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */

    transition: transform 0.3s ease;
}

.list-contacts a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.contact:hover {
    transform: scale(1.05);
}

.contact-icon {
    width: 34px;
    height: 34px;
}

.contact-text {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    margin: auto;
    width: 50%; 
    
}


/* FOOTER */
footer {
    background: linear-gradient(to right, #14031f, #3b2237) !important;
    padding: 6px 0;
}

footer p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;
}